/*ウェブフォントを使用する場合はここに定義を追加して下さい*/

@font-face {
font-family:"KH-Dot-Akihabara-16";
src:
	url("../data/others/KH-Dot-Akihabara-16.woff") format("woff"),
	url("../data/others/KH-Dot-Akihabara-16.ttf") format("truetype");
	
	font-weight:normal;font-style:bold;
}
